<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<!-- Database setting -->
		<property name="connection.username">root</property>
		<property name="connection.password">quanla02@ciuz</property>
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://159.223.79.247:3306/demo</property>
        <property name="hibernate.default_schema">demo</property>
		<!-- JDBC connection pool (use the built-in) -->
		<property name="connection.pool_size">4</property>

		<!-- SQL dialect -->
		<property name="dialect">org.hibernate.dialect.MySQL8Dialect</property>

		<!-- Enable Hibernate's automatic session context management -->
		<property name="current_session_context_class">thread</property>

		<!-- Show all executed SQL to console -->
		<property name="show_sql">false</property>
		<property name="jdbc.batch_size">50</property>
		<property name="jdbc.order_inserts">true</property>
		<property name="jdbc.order_updates">true</property>
		<property name="generate_statistics">true</property>
		<mapping class="model.SinhVien"></mapping>
		<mapping class="model.NhanVien"></mapping>
		<mapping class="model.ChuyenNganhGv"></mapping>
		<mapping class="model.GvHuongDan"></mapping>

	</session-factory>
</hibernate-configuration>